<% layout('layout') -%>

<div class="row" style="margin-top: 10%;">
	<div class='col-md-3' style="border-style: solid; height:350px">
		<h4>Table names comes here</h4>
		<ul> 
		  <% result.map((result)=>{%>
		    <li><%= result.table_name%></li>
		  <%}) %>
		 </ul>
	</div>

	<div class='col-md-6' style="border-style: solid; height:350px">
		<h4>query builder comes here</h4>
	</div>

	<div class='col-md-3' style="border-style: solid; height:350px">
		<h4>Table metadata comes here</h4>
	</div>
</div>