<% layout('layout') -%>

<div class="row contentLayout">
	<div class='col-md-2 tablesLayout'>
		<h4 class="tableHeading">Table Names</h4>
		<ul class="list-group tablesList">
			<% result.map((table)=>{%>
			    <li class="list-group-item" id="<%= table.table_name %>" onclick="selectTable('<%= table.table_name %>')"><%= table.table_name %></li>
			  <%}) %>
		</ul>
	</div>

	<div class='col-md-10'>
		<div class='queryEditor' contenteditable>
			
		</div>
		<div style="padding: 1%; float: right; margin-top: -2%;">
			<button type="button" id="cancleQuery" onclick="cancleQuery()" class="btn btn-xs" style="padding: 0%; margin: 0px 4px;">Cancel</button>
			<button type="button" id="submitQuery" onclick="submitQuery()" class="btn btn-success btn-xs" style="padding: 0%; margin: 0px 4px;">Execute</button>
		</div>

		<div class='queryResults'>
			<span style="margin-left:1%; float: left;" id="msgSpan"></span>
			<div style="margin-right: 0%; float: right;height:30px;">
				<button type="button" id="insertQuery" onclick="insertQuery()" class="btn btn-info btn-xs" style="padding: 0%; margin: 0px 4px;">Insert Query</button>
				<button type="button" id="selectQuery" onclick="selectQuery()" class="btn btn-info btn-xs" style="padding: 0%; margin: 0px 4px;">Select Query</button>
				<button type="button" id="updateQuery" onclick="updateQuery()" class="btn btn-info btn-xs" style="padding: 0%; margin: 0px 4px;">Update Query</button>
				<button type="button" id="deleteQuery" onclick="deleteQuery()" class="btn btn-info btn-xs" style="padding: 0%; margin: 0px 4px;">Delete Query</button>
			</div>
		  	<div id="resultsGrid"></div>
		</div>
		
	</div>

</div>
