<% layout('layout') -%>

<div class="row contentLayout">
	<div class='col-md-2 tablesLayout'>
		
	</div>

	<div class='col-md-10'>
		<div class='queryEditor'>
			
		</div>

		<div class='queryResults'>
			
		</div>
		
	</div>

</div>

