<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates/head.ejs %>
</head>

<body>

<% include templates/header.ejs %>


<!-- Insert Body here -->
<main role="main" class="container">

    <div class="starter-template">
        <%- body %>
    </div>

</main><!-- /.container -->

<% include templates/footer.ejs %>

<% include templates/includes.ejs %>
</body>
</html>