<!DOCTYPE html>
<html lang='en'>
	<head>
	    <% include templates/head.ejs %>
	</head>

	<body id='content'>
		<% include templates/header.ejs %>
		        <%- body %>
		<% include templates/footer.ejs %>
		<% include templates/includes.ejs %>
	</body>

</html>