<% layout('layout') -%>

<div class="table-responsive">
    <table id="table-cluster" class="table table-striped">
            <thead>
                <th>#</th>
                <th>User</th>
                <th>Department</th>
            </thead>
            <tbody>
                <tr><td>001</td><td>John Smith</td><td>IT</td></tr>
                <tr><td>002</td><td>Mark Johnson</td><td>HD</td></tr>
            </tbody>
    </table>
</div>


