<!-- views/partials/footer.ejs -->
<footer class="footer">
    <div class="container">
        <span class="text-muted">Developed by <a href='https://github.com/syamdanda'  target='_blank'>Syam Danda</a></span>
    </div>
</footer>