.footer {
    position: fixed;
    height: 7%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
}

/*home page layout*/

.contentLayout {
   margin-top: 4%;
   width: 98%;
   margin-bottom: 1%;
   margin-right: 0%;
   margin-left: 1%;
   border: 1px solid black;
   height: 82vh; 
}

.tablesLayout {
    background-color: #b8daff;
    height:100%;
    border-style: 1px solid #b8daff;
    overflow: scroll;
}

.tablesList {
    width: 115%;
    margin-left: -8%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.tableHeading {
    margin-left: 10%;
    color: darkslategrey;
}

.queryEditor {
    background-color: #edf2f7;
    height:30%;
    margin: 1%;
    border-style: 1px solid #edf2f7;
}

.queryResults {
    background-color: #d6efdf;
    height: 68%;
    margin: 1%;
    border-style: 1px solid #d6efdf;
    overflow: hidden;
    width: 100%
}

.panel {
    border: 0px !important;
}

.panel-body {
  overflow: auto;
  overflow-x: hidden;
}

.currentRow {
  background-color: #008080 !important;
  color: #fcf8e3;
}

.currentRow .rowHeader {
  color: #008080;
}

.currentCol {
  background-color: #bbb3b3 !important;
}

.cardViewItem {
    padding: inherit !important;
}

#resultsGrid.handsontable table{
    width:100%;
}

.hot-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pointerCls {
  cursor: pointer;
}

.disableButton {
    cursor: default;
    pointer-events: none;
    color: #c0c0c0;
    background-color: #ffffff;
}

.success {
    display: none;
}

.failure {
    display: none;
}

.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    display: none;
}

.errMsg {
  color: red;
}

.submitButton {
    background: #008080;
    color: #fcf8e3;
    font-weight: bold;
    border: none;
    margin: 20px auto 0;
    /*display: block;*/
    height: 38px;
    border-radius: 4px;
    margin-bottom: 14px;
    text-align: center;
}

.cancelButton {
    background: #e3e3e3;
    color: #008080;
    font-weight: bold;
    border: none;
    margin: 20px auto 0;
    /*display: block;*/
    height: 38px;
    border-radius: 4px;
    margin-bottom: 14px;
    text-align: center;
}

.rightAlign {
  float: right;
}

.leftAlign {
  float: left;
}


/*Db access form css */
.register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 6%;
    padding: 1%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}