body {
  padding: 50px;
  padding-top: 60px;
  padding-bottom: 40px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding: 10px;
}
